<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/instagram/<%= post.id %>?_method=PATCH">
        <textarea name="likes" cols="30" rows="10"></textarea>
        <input type="text" name="username">
        <button>Submit change</button>
    </form>
</body>
</html>